#
# ROSY drivers configuration
#

menu "Drivers for ROSY"

source "drivers/rosy/fingerprint/Kconfig"

source "drivers/rosy/touchscreen/Kconfig"

source "drivers/rosy/led/Kconfig"

source "drivers/rosy/soc/Kconfig"

endmenu
